    * {
        box-sizing: border-box;
        font-family: "freight-big-pro", serif;
    }
    
    body {
        margin: auto;
    }

html {
margin: auto;
}
    
    .img-column {
        content: url("Images/me.jpg");
        width: 100%;
        filter: grayscale(100%);
    }
    
    .text-column {
        width: 100%;
        text-align: justify;
    }
    
    article.long-text {
        padding: 50px;
    }
    
    html {
        font-size: 30px;
    }
    
    h1 {
        font-size: 2.5rem;
        margin: 0;
    }
    
    h1.underlined {
        border-bottom: 1px solid gray;
        margin-bottom: 25px;
    }
    
    img {
        display: block;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    nav#navigation-bar {
        transform: translateY(-70px) perspective(0);
        transition: transform 1s;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fff;
        width: 100%;
    }
    
    #splash {
        position: fixed;
        padding: 10px;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        align-items: center;
    }
    
    #splash-image {
        margin: auto;
        animation-name: zoom;
        animation-duration: 1s;
        max-width: 100%;
        max-height: 100%;
    }
    
    nav#navigation-bar img,
    a {
        margin: auto;
    }
    
    nav#navigation-bar ul {
        display: block;
        background-color: white;
        list-style-type: none;
        height: 100%;
        position: fixed;
        padding: 20px;
        padding-top: 0;
        top: 100px;
        left: 0;
        transform: translateX(-200px);
        transition: transform 0.5s;
    }
    
    nav#navigation-bar li {
        border-bottom: 1px solid #dfdfdd;
        margin-bottom: 10px;
    }
    
    a:visited {
        color: black;
    }
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    header#hero-image {
        padding: 50px;
        padding-top: 0px;
    }
    
    header#hero-image img {
        width: 100%;
        height: auto;
    }
    
    footer#info {
        background-color: black;
        color: #ffffff;
        padding: 50px;
        text-align: center;
    }
    
    footer#info a:visited {
        color: white;
    }
    
    footer#info ul {
        list-style-type: none;
        margin-top: 50px;
    }
    
    footer#info li {
        font-size: 0.8rem;
        margin-top: 10px;
    }
    
    footer#info li:first-child {
        font-weight: bold;
        margin-top: 0px;
        font-size: 1rem;
    }
    
    .flex-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .bar {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    #dropdown-button {
        content: '';
        width: 100px;
        height: 100px;
        background-image: url(Images/menu-switch.png);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    #dropdown-button:active {
        background-color: #dfdfdd;
    }
    
    button.action {
        text-align: center;
        border: 1px solid #000;
        border-radius: 50px;
        width: 100%;
        height: 50px;
        white-space: nowrap;
        text-overflow: clip;
        background-color: transparent;
        display: block;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .about-me {
        background-color: #f0f0f0;
        background-image: url("Images/aboutme.jpg");
        background-repeat: no-repeat;
        padding: 50px;
        position: relative;
        overflow: hidden;
    }
    
    .about-me button.action {
        color: white;
        border: 1px solid white;
    }
    
    .about-me button.action:hover {
        border: 1px solid #000;
    }
    
    .text-box {
        text-align: justify;
    }
    
    .about-me .text-box {
        padding: 20px;
        background-color: #f0f0f0;
        margin-bottom: 50px;
    }
    
    button:hover {
        background: #000;
        color: #fff;
        transition: .2s;
    }
    
    div.gallery-image {
        width: 100%;
        overflow: hidden;
    }
    
    div.gallery-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    div.gallery {
        padding: 50px;
        padding-top: 0;
    }
    
    div.img-box {
        width: 100%;
        float: left;
        position: relative;
        cursor: pointer;
    }
    
    div.img-box img {
        width: 100%;
        height: auto;
    }
    
    div.img-box p {
        margin: 0;
    }
    
    div.img-box .text-box {
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 0;
        color: white;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        font-size: 0.6rem;
        padding: 20px;
        opacity: 0;
        transition: opacity 0.3s;
        transition-timing-function: ease;
    }
    
    div.img-box:hover .text-box {
        opacity: 1;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    section.recommendations {
        background-color: #f0f0f0;
        padding: 50px;
    }
    
    section.recommendations h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .recommendations .flex-container {
        margin-bottom: 50px;
        transform: translateX(-300px);
        transition: transform 1s;
    }
    
    .recommendations .flex-container:last-child {
        margin-bottom: 0;
    }
    
    .recommendations .flex-container img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 5px solid white;
        border-radius: 100%;
        z-index: 1;
        position: relative;
        top: 75px;
        margin-top: -75px;
    }
    
    .recommendations .flex-container .text-box {
        font-size: 0.7rem;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        position: relative;
        padding-top: 75px;
    }
    
    .cover {
        opacity: 0;
        transition: opacity 1s;
    }
    
    .contact-info {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .contact-info .icon {
        width: 50px;
        height: 50px;
        object-fit: contain;
        border: 2px solid #000;
        border-radius: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
    
    .contact-info .icon img {
        width: 100%;
        height: auto;
    }
    
    .go-to-arrow {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 1;
        transition: opacity 0.5s;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        transition: background-color 1s;
    }
    
    .go-to-arrow img {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .go-to-arrow:hover {
        background-color: rgba(0, 0, 0, 1);
    }
    
    #close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: auto;
        cursor: pointer;
    }
    
    .contact-info p {
        padding: 15px;
        margin: 0;
    }
    
    .read-more {
        transform: translateX(-300px);
        transition: transform 1s;
        flex: 55%;
    }
    
    .about-container {
        transform: translateX(300px);
        transition: transform 1s;
    }
    
    .animated-element {
        transform: none !important;
        opacity: 1 !important;
    }
    
    .dropdown-button:active {
        animation-name: flash;
        animation-duration: 0.2s;
    }
    
    @keyframes zoom {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    
    @media only screen and (min-width: 768px) {
        .flex-container {
            flex-direction: row;
        }
        header#hero-image.flex-container {
            flex-direction: row-reverse;
        }
        button.action {
            float: right;
            width: 200px;
        }
        .about-me {
            background-size: 80%;
        }
        .about-me .text-box {
            margin: 0;
        }
        .about-me button.action {
            border: 1px solid black;
            color: black;
        }
        .about-me button.action a {
            color: black;
        }
        .about-me button.action:hover {
            color: white;
        }
        .about-me button.action:hover a {
            color: white;
        }
        footer#info.flex-container {
            align-items: flex-start;
            text-align: left;
        }
        footer#info.flex-container ul {
            margin-top: 0px;
            flex-grow: 2;
        }
        footer#info.flex-container div {
            flex-grow: 5;
        }
        footer#info.flex-container ul:last-child {
            flex-grow: 5;
        }
        footer#info li:first-child {
            line-height: 1rem;
            margin-bottom: 30px;
        }
        .recommendations .flex-container .text-box {
            padding: 5px;
            padding-right: 20px;
            padding-left: 80px;
            max-width: 45%;
        }
        .recommendations .flex-container img {
            left: 75px;
            top: 0px;
            margin: 0px;
            margin-left: -75px;
        }
        section.recommendations h1 {
            text-align: left;
        }
        nav#navigation-bar.flex-container {
            padding: 50px;
            justify-content: space-between;
        }
        #dropdown-button {
            display: none;
        }
        nav#navigation-bar {
            position: static;
            box-shadow: none;
        }
        nav#navigation-bar a {
            margin: 0;
        }
        nav#navigation-bar ul {
            width: auto;
            position: static;
            transform: none;
        }
        nav#navigation-bar li {
            display: inline-block;
            margin-bottom: auto;
            margin-left: 20px;
            border: none;
        }
        .bar {
            display: block;
            width: auto;
            height: auto;
        }
        article.long-text {
            padding: 0px;
        }
        .img-column {
            width: 50%;
            min-height: 150%;
            position: fixed;
            z-index: -1;
            background-size: cover;
            top: -200px;
            content: '';
            background-image: url("Images/me.jpg");
            background-position: center;
        }
        article .text-column {
            width: 50%;
            height: 100%;
            float: right;
            padding: 50px;
            padding-top: 0px;
        }
        div.img-box {
            width: 25%;
        }
        div.img-box img {
            width: 100%;
            height: auto;
        }
        .about-container {
            width: 60%;
            float: right;
        }
        section.flex-container .gallery-image:nth-child(1),
        .gallery-image:nth-child(3) {
            transform: translateY(200px);
            transition: transform 1s;
        }
        section.flex-container .gallery-image:nth-child(2) {
            transform: translateY(-200px);
            transition: transform 1s;
        }
        div.gallery-image img {
            transition: transform .3s, filter .3s;
            filter: grayscale(100%);
        }
        div.gallery-image img:hover {
            filter: none;
            transform: scale(105%);
            z-index: -1;
        }
    }